.unavailable a {
  color: grey;
}

.flex-container {
  display: flex;
  flex-direction: row;
}

.flex-item {
  padding: 1rem;
}

.form-group {
  margin: 1rem 0;
}

.form-group label {
  margin-bottom: 0.25rem;
  display: block;
}
