.unavailable {
  color: grey;
}

.flex-container {
  display: flex;
  flex-direction: row;
}

.flex-item {
  padding: 1rem;
}

.form-group {
  margin: 1rem 0;
}

.form-group label {
  margin-bottom: 0.25rem;
  display: block;
}

.chef-item {
  border: 1px solid black;
  border-radius: 3px;
  margin: 10px 0;
  padding: 5px;
}

.chef-item__title {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.chef-item__image {
  width: 100px;
  height: 100px;
}
