<div class="flex-container">
  <div class="flex-item">
    {{#each restaurants as |restaurant|}}
        <div class="card">
          {{#link-to 'restaurants.restaurant' restaurant.id}}{{restaurant.name}}{{/link-to}}
        </div>
    {{/each}}
  </div>
  <div class="flex-item">
    {{outlet}}
  </div>
</div>